header {
	background-color: #231f20;
}
.logo {
		margin: 0;

	a {
		margin: 0 auto;
		display: block;
		width: 300px;
		height: 231px;
		text-indent: -9999px;
		background-image: url(../images/logo.png);
	}
}

.mainnav {
	
	div {
		text-align: center;

		a {
			color: #fff;
			font-family: $font1;
			text-decoration: none;
			background-color: $deepRed;
			padding: 20px 44%;
		}
	}	

	ul {
		padding: 0;
		margin: 0 auto;

		li {
			text-align: center;

			a {
				color: #fff;
				font-family: $font2;
				text-decoration: none;
			}
		}
	}
}
