// Font

$font1: "Playfair Display SC";
$font2: "Playfair Display";

// color 

$deepRed: #3b1616;
$mainRed: #581b1c;
$borderColor: #aea468;
$black: #231f20;

// Breakpoints

$small: 600px;
$medium: 800px;
$large: 878px;